<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">grocerybot</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if(currentUser) { %>
            <li><a href="/user">Profile</a></li>
          <% } else { %>
            <li><a href="/user/signup">Sign Up</a></li>
            <li><a href="/user/login">Log In</a></li>
          <% } %>            
          <li><a href="/mealplan">Meal Plan</a></li>
          <li><a href="/recipe">Recipes</a></li>
        </ul>
    </div>
  </nav>