<div class="parallax-container">
    <div class="parallax"><img src="/images/1-min.png"></div>
</div>
<div class="section white">
    <div class="row container">
      <h2 class="header">grocerbot</h2>
      <p class="grey-text text-darken-3 lighten-3">Come here and figure out what to eat for the week!</p>
    </div>
  </div>