<div>
  <h5>Are you sure you want to delete your account?</h5>
  <button><a href="/">NO</a></button>
  <form action="/user/?_method=DELETE" method="POST">
    <input type="submit" value="YES">
  </form>
</div>