<form class="card blue-grey">
  <div class="card-content white-text">
    <label>Name:</label>
    <input type="text" name="name" value="recipe.name">
  </div>
  <div class="card-content white-text">
    <label>Prep Time:</label>
    <input type="text" name="prepTime" value="recipe.prepTime">
    <label>Cook Time:</label>
    <input type="text" name="cookTime" value="recipe.cookTime">
  </div>  
  <div class="card-content white-text">
    <label>Ingredients:</label>
    <input type="text" name="ingredients" value="recipe.ingredients">
  </div>
  <div class="card-content white-text">
    <label>Instructions:</label>
    <input type="text" name="instructions" value="recipe.instructions">
  </div>
  <div class="card-action">
    <input type="submit" value="Submit">
  </div>
</form>