<div class="card white">
  <form action="/recipe" method="POST">
    <div>
      <label>Name:</label>
      <input type="text" name="name">
    </div>
    <div>
      <label>Prep Time:</label>
      <input type="text" name="prepTime" id="prepTime">
      <label>Cook Time:</label>
      <input type="text" name="cookTime" id="cookTime">
    </div>  
    <div>
      <label>Ingredients:</label>
      <textarea name="ingredients" id="ingredients" placeholder="Seperate recipes by commas."></textarea>
    </div>
    <div>
      <label>Instructions:</label>
      <textarea name="instructions" id="instructions" placeholder="Seperate steps by commas."></textarea>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>